.box{
    position: absolute;
    margin-left:15vw;
    width: 85vw;
    height: 85vh;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15vh;
}
.box h2{
    text-align: center;
    margin-top:40px;
    margin-bottom: -80px;
}
#navbar{
    text-align: center;
    position: fixed;
    z-index: 5;
    width:15vw;
    height: 100vh;
    background-color:#000000;
    display: flex;
    flex-direction: column;
    padding: auto 0;
}
#logo{
    margin-top:20px;
    display: flex;
    flex-direction: column;
}
#logo a{
    color:white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
#logo img{
    width:60px;
    display: block;
    margin:auto;
    margin-bottom: 10px;
}
#NavMenu{
    display: flex;
    flex-direction: column;
    margin-top:30px
}
#NavMenu ul{
    height: 300px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.Navlinks{
    margin:5px 0;
    line-height: 30px;
}
.Navlinks a{
    color:white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.Navlinks a:hover{
    color:black;
    background-color:#ADD8E6;
    display: inline-block;
    width: 120px;
    line-height: 30px;
    border-radius:5px;
}
#NavHome{
    margin: 20px 0;
    margin-top: 70px;
}
#NavHome a{
    text-decoration: none;
    color:black;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: #00BFFF;
    display: inline-block;
    width: 80px;
    line-height: 30px;
    border-radius:5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide{
    display: none;
}

@media screen and (max-width:750px){
    #navbar{
        height:24vh;
        width:100vw;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        margin:10px 10px;
        flex-direction: row;
    }
    #logo img{
        margin:auto 10px;
    }
    #logo a{
        margin: auto 0;
    }
    #NavHome{
        display: none;
    }
    #NavMenu{
        display: flex;
        flex-direction: row;
        margin-top:10px
    }
    #NavMenu ul{
        height: 30px;
        width: 100px;
        justify-content: space-between;
        margin-right: 55px;
    }
    .box{
        margin-left:0;
        margin-top: 23vh;
        width:100vw;
        height: 80vh;
        margin-bottom: 10vh;
    }
}
