#trainNameStatus{
    text-transform: uppercase;
    background-color: #d794d7;
    padding:20px 0;
    /* display: flex; */
    justify-content: center;
    border-radius:8px 8px 0 0;
    margin: 0 40px;
    margin-top: 20px;
    text-align: center;
    gap:10px;
}
#stats{
    display: flex;
    justify-content: space-between;
    background-color: #20B2AA;
    padding:20px 0;
    border-radius:0 0 8px 8px;
    margin: 0px 40px;
}
#stats span{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#stats span p{
    margin:5px 10px;
}
#stats span:nth-child(1){
    margin-left: 20px;
    color: white;
    font-weight:bolder; 
}
#stats span:nth-child(2){
    margin-left: -190px;
    color:white; 
}
#stats span:nth-child(3){
    margin-right: 30px; 
    color:white;
}

@media screen and (max-width:750px){
    #stats{
        display: flex;
        justify-content: left;
    }
    #stats span p{
        margin:5px 0px;
        width:25vw;
        overflow-wrap:break-word; ;
    }
    #stats span:nth-child(2){
        margin-left: 0px;
        color:white; 
    }
    #stats span:nth-child(3){
        margin-left: 70px; 
        color:white;
        width:15vw;
    }
}